body {
	/*	font related properties	*/
	font-family: 'Arial', sans-serif;
	/*	display related properties	*/
	background-image: image-set(url("../assets/black-sky-bg.jpg") 1x, url("../assets/black-sky-bg-uhd.jpg") 2x);
	display: flex;
	justify-content: center;
	align-items: center;
	/*	size and overflow	*/
	padding: 0;
	margin: 0;
	height: 100vh;
	min-width: 420px;
}

.container {
	/*	display related properties	*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	/*	background and shadows	*/
	background: #1d1c1cb9;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	/*	size and overflow	*/
	height: 65vh;
	width: 30vw;
	min-width: 300px;
	max-width: 700px;
	overflow-x: hidden;
	overflow-y: auto;
}

/* .container {
	width: 80%; //
	min-width: 300px;
	max-width: 700px;
	background: #1d1c1cb9;
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 65vh;
} */


h3 {
	color: #fbfbfb;
	margin: 10px 0;
}

/* --- Properties during Questions --- */

.option {
	/* dis */
	display: flex;
	align-items: center;
	background-color: #b1b3b5;
	border: 1px solid #ced4da;
	border-radius: 8px;
	margin: 10px 0;
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s, box-shadow 0.3s;
	width: 60%;
}

.option:hover {
	background-color: #e9ecef;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.option img {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	margin-right: 15px;
}

.option.selected {
	background-color: #d4edda;
	border-color: #28a745;
	box-shadow: 0 2px 8px rgba(41, 129, 62, 0.4);
}

.option-description {
	flex: 1;
	text-align: left;
	color: #495057;
}

button.navigation {
	margin: 5px;
	padding: 10px 15px;
	background-color: #007bff;
	border: none;
	color: white;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button.navigation:hover {
	background-color: #2d8ef6;
}

button.navigation:disabled {
	background-color: #838485;
	cursor: not-allowed;
}

.navigation-bar {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}

.results {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #63a8ed;
}

.intro-screen {
	text-align: center;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.intro-screen h3 {
	font-size: 1.8rem;
	margin-bottom: 30px;
}

.start-button {
	font-size: 1.2rem;
	padding: 10px 20px;
	color: #fff;
	background: linear-gradient(270deg, #f63f12, #f6b27e);
	border: 1px gradient #ff7e5f #feb47b;
	border-radius: 5px;
	cursor: pointer;
	transition: background 1s ease;
	margin-top: 0.5vw;
}

.start-button:hover {
	background: linear-gradient(270deg, #feb47b, #ff7e5f);
}

.question-class {
	margin: 0.5%;
	font-size:large;
}

div.navigation-bar{
	margin-bottom: 5%;
}

.ellipse {
	position: fixed;
	bottom: -80vh; /* Adjust this value to control how much of the ellipse is visible */
	left: 50%;
	transform: translateX(-50%);
	width: 100vh; /* Adjust the width as needed */
	height: auto;
	z-index: 1; /* Ensure it is behind other content */
}
  